name: CI
on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '24'

    - name: Install Bruno CLI
      run: npm install -g @usebruno/cli

    - name: Compose Up
      run: |
        docker compose --file deployment/compose/compose.yaml up --detach

    - name: Wait for GLVD to be up
      run: |
        # Taken from https://gist.github.com/rgl/f90ff293d56dbb0a1e0f7e7e89a81f42?permalink_comment_id=5375106#gistcomment-5375106
        until [ "$(curl -s -o /dev/null -w "%{http_code}" http://localhost:8080)" = "200" ]; do sleep 1; done;

    - name: Run API Tests
      run: bru run --env ci --reporter-html results.html
      working-directory: api-tests

    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: api-tests/results.html
